<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/building.css">
</head>
<body>
<h1><%= building.name %></h1>

<% floors.forEach(floor => { %>
<div class="img">
    <a href="/building/<%= building._id %>/<%= floor._id %>">
        <div class="content">
            <h4><%= floor.floorNumber %> 층</h4>
        </div>
        <div class="bunyang">
            <p style="background-color: <%= floor.bunyang !== "분양완료" ? "#3399FF" : "#FF4C4C" %>;"><%= floor.bunyang %></p>
        </div>
        <div class="img-cover" style="background-image: url(<%= floor.imageUrl %>)"></div>
    </a>
</div>
<% }) %>


<%- include('../includes/end.ejs') %>
