<%- include('../includes/head.ejs') %>
</head>
<body>
    <img src="<%= floor.imageUrl %>" alt="<%= floor.buildingName %> <%= floor.floorNumber %> 층">
    <h2><%= floor.buildingName %> <%= floor.floorNumber %> 층</h2>
    <h4><%= floor.bunyang %></h4>
    <h4><%= floor.price %></h4>
    <a href="">카카오톡 상담하기</a>

<%- include('../includes/end.ejs') %>
